html,
body {
    background: #457B9D;
    display: grid;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container {
    display: flex;
}

.rectangle {
    background-color: #1D3557;
    border-left: 17px solid rgba(0, 0, 0, .2);
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100vh;
    width: 20%;
}

.content {
    margin: 0 auto;
    text-align: start;
    width: 80%;
}


.logo {
    width: 8em;
    padding: 5em 0 0 2em;
}

h1 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.1em;
    margin: 0;
    padding: 1em 0 0 0;
}

p {
    color: #FFFFFF;
    font-size: 1.2em;
    margin: 0;
    padding: 1em 0 0 0;
}

.flex {
    display: flex;
    padding: 2em 0 0 0;
}

.container_input_search {
    height: 2.8em;
    width: 17.5em;
    touch-action: manipulation;
}

.input_search {
    border: 1px solid #C7C7C7;
    border-radius: 6px 0 0 6px;
    background: #EDEDED;
    box-shadow: 0px 4px 4px #000000;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    height: 3.5em;
    padding: 0 1em 0 1em;
    width: 21.5em;
    outline: none;
    touch-action: manipulation;
}

input[type=search] {
    -webkit-appearance: none;
}


select {
    font-size: 100%;
}

.container_btn_search {
    height: 2.9em;
    width: 4.5em;
}

.btn_search {
    border: 1px solid #C7C7C7;
    background: #40a8ac;
    box-shadow: 0px 4px 4px #000000;
    border-radius: 0px 6px 6px 0px;
    border: none;
    cursor: pointer;
    height: 3.5em;
    width: 5.5em;
    touch-action: manipulation;
}

.btn_search:hover {
    background: #18898d;
}

.btn_search:active {
    background: #47b2b6;
}



.icon_img {
    cursor: pointer;
    width: 1.5em;
}
span {
    position: relative;
    top: 341px;
    right: 708px;
}

#tooltip {
    margin: 0.3em 1em;
    color: white;
    font-size: 23px;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    font-size: 16px;
    background-color: #A8DADC;
    color: black;
    padding: 5px 10px;
    width: 238px;
    height: 96px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    text-align: start;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
}


/*-----Container Stock Info-----*/
.container_info {
    display: none;
    background: #F1FAEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    border-left: 15px solid #1D3557;
    margin: 4em 0 0 0;
    padding: 0.5em;
    width: 7.5em;
}

.stock_name,
.stock_letters,
.price_id {
    padding: 0.2em 0.2em 0.2em 0.5em;
}

.stock_name {
    font-family: 'Poppins';
    font-size: 1.0em;
    font-style: normal;
    font-weight: 500;
    color: #495057;
}

.price_id {
    color: #000000;
    font-family: 'Poppins';
    font-size: 1.2em;
    font-weight: bold;
}

.stock_letters {
    color: #495057;
    font-weight: 500;
}

.error {
    color: #1D3557;
    font-weight: bold;
    display: none;
}

.close_btn {
    width: 2em;
    cursor: pointer;
}

.img_close_btn {
    width: 2em;
}

.title_card {
    display: flex;
    flex-direction: row-reverse;
}

/* =========
    MEDIA QUERY
    ======== */

@media only screen and (max-width: 400px) {
    .rectangle {
        background-color: #1D3557;
        border: 0px;
        height: 1.5em;
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .content {
        text-align: start;
        width: 80%;
    }

    .logo {
        padding: 1.5em 0 0 6em
    }

    .input_search {
        width: 100%;
    }

}